*  {
    box-sizing: border-box;
}

body {
    background-color:#AAB2ED;
    margin: 0;
    height: 100%;
}

/***Navigation Bar*****/
nav {
    background-color: #5745A3;
    font-family: 'Josefin Slab', Arial, Helvetica, sans-serif;
    font-weight: 700;
    position: fixed;
    top: 0;
    padding-left: 5px;
    padding-right: 10px;
    width: 100%;
    height: 60px;
    z-index: 1;
    color: #FFFFFF;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    height: 100%;
    margin: 0;
    font-size: 1.25em;
}

li {
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-links:focus {
    border-bottom: 5px solid #EFE375;
}

.nav-links:hover {
    color: #EFE375;
    cursor: pointer;
    text-shadow: 2px 3px 8px #000000;
}

.selected {
    color: #EFE375;
    text-shadow: 2px 3px 8px #000000;
}

main {
    font-family: 'AbeeZee', Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 60px;
    width: 100%;
}

/*****Intro Headline Banner *****/
.home {
    background-image: url('../images/background-lights.jpg');
    background-repeat: repeat; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
    background-color: #5745A3;
}

.intro {
    height: 220px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-shadow:1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}


.intro > h1 {
    font-family: 'Delius', 'Arial', 'sans-serif';
    color: white;
    font-size: 2.9em;
    margin: 0;
    text-align: center;
}

.intro > h2 {
    font-family: 'Josefin Slab', 'Times New Romans', 'serif';
    font-size: 1.8em;
    font-weight: 700;
    margin: 0;
}

/***About Me Content********/

.about-info {
    width: 280px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 1em;
    line-height: 1.15em;
}

.about-info > h1 {
    font-size: 2.3em;
    font-weight: 700;
    text-align: center;
    font-family: 'Josefin Slab', Arial, Helvetica, sans-serif;
}

/***Portfolio Content*****/
.portfolio-info {
    width: 280px;
    height: 100%;
    line-height: 1.18em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

.portfolio-title {
    font-size: 2.3em;
    font-weight: 700;
    text-align: center;
    font-family: 'Josefin Slab', Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    border-bottom: 3px solid #5745A3;
}

.portfolio-images {
    display: flex;
    justify-content: center;
}

.project-image {
    width: 90%;
    border: 2px solid black;
    border-radius: 5px;
}

.portfolio-info > h2 {
    text-align: center;
    font-size: 1.5em;
}

.fa-html5, .fa-css3, .fa-js {
    color: white;
    font-size: 1.5em;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.buttons {
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.buttons > a {
    color: #5745A3;
    font-family: 'AbeeZee', Georgia, serif;
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;
    border: 2px solid #5745A3;
    border-radius: 5px;
    background-color: #AAB2ED;
    height: 40px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons > a:hover {
    background-color: #5745A3;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.buttons > a:focus {
    background-color: #5745A3;
    border: 2px solid white;
    color: white;
    transition: 0.3s;
}

/*****Contact Information****/

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: calc(100vh - 90px);
}

.contact-info > h1 {
    color: #5745A3;
    font-size: 2.5em;
    text-align: center;
}

.contact-info > p {
    font-size: 2em;
    color: white;
    text-align: center;
}

.contact-icons {
    display: flex;
    justify-content: space-evenly;
}

.contact-icons > a {
    color: #5745A3;
    font-size: 2.5em;
    text-decoration: none;
    cursor: pointer;
}

.contact-icons > a:hover {
    color: #EFE375;
    transition: 0.3s;
}

.contact-icons > a:focus {
    color: #EFE375;
    transition: 0.3s;
}

/****Footer*****/

footer {
    background-color: #5745A3;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.copyright {
    color: #FFFFFF;
    font-family: 'AbeeZee', Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    margin: 0;
    text-align: center;
}

/**Media Queries***/

@media screen and (min-width: 475px) {

    .home-icon {
        width: 45px;
    }

    li {
        font-size: 1.5em;
    }

    .about-info {
        font-size: 1.3em;
        line-height: 1.4em; 
        width: 530px;
        margin-top: 50px;
    }

    .portfolio-images {
        height: 680px;
    }

    .portfolio-title {
        font-size: 2.5em;
    }

    .portfolio-info {
        font-size: 1.3em;
        margin-bottom: 60px;
        width: 530px;
        line-height: 1.4em;
    }

    .buttons > a {
        height: 60px;
        width: 124px;
    }

    .contact-info {
        bottom: 90px;
        line-height: 3.2em;
        width: 530px;
        height: 50vh;
    }

    .contact-info > h1 {
        font-size: 3em;
    }
    
    .contact-info > h2 {
        font-size: 2.3em;
    }

    .contact-icons > a {
        font-size: 3em;
    }

}

@media screen and (min-height: 520px) {
    .portfolio-images {
        margin-bottom: 50px;
    }

    .contact-info {
        height: 75vh;
    }
}

@media screen and (min-width: 672px) {
    .intro {
        height: 300px;
        width: 400px;
    }

    .intro > h1 {
        font-size: 4.1em;
    }
    
    .intro > h2 {
        font-size: 2.2em;
    }
}

@media screen and (min-width: 790px) {

    .about-info {
        font-size: 1.3em;
        line-height: 1.5em;
        width: 700px;
    }

    .portfolio-images {
        height: 650px;
        width: 500px;
    }

    .portfolio-title {
        font-size: 3em;
    }

    .portfolio-info {
        font-size: 1.3em;
        width: 700px;
    }

    .buttons > a {
        height: 60px;
        width: 144px;
    }

    .contact-info {
        width: 700px;
    }

}

@media screen and (min-width: 912px) {
    .portfolio-images {
        height: 600px;
        width: 450px;
        float: left;
        margin-bottom: 50px;
    }

    .portfolio-info {
        font-size: 1.3em;
        width: 800px;
    }

    .buttons {
        width: 40%;
    }
}

@media screen and (min-width: 1530px) {

    .home-icon {
        width: 50px;
    }

    li {
        font-size: 2em;
    }

    .about-info {
        font-size: 1.3em;
        line-height: 1.5em;
        width: 700px;
    }

    .portfolio-images {
        height: 650px;
        width: 500px;
        float: left;
    }

    .portfolio-info {
        font-size: 1.3em;
        width: 1000px;
    }

    .buttons {
        width: 40%;
    }

    .contact-info {
        width: 800px;
    }

}

@media screen and (min-width: 1600px) {

    .intro {
        height: 460px;
        width: 700px;
    }

    .intro > h1 {
        font-size: 5em;
    }
    
    .intro > h2 {
        font-size: 3em;
    }

    .about-info {
        font-size: 1.3em;
        line-height: 1.5em;
        width: 700px;
    }

    .portfolio-images {
        height: 650px;
        width: 500px;
        float: left;
    }

    .portfolio-info {
        font-size: 1.3em; 
        width: 1000px;
    }

    .buttons {
        width: 40%;
    }

    .contact-info {
        width: 800px;
    }

}