*  {
    box-sizing: border-box;
}

body {
    background-color:#AAB2ED;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

/***Navigation Bar*****/
nav {
    background-color: #5745A3;
    font-family: 'Bitter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 0;
    padding-left: 5px;
    padding-right: 10px;
    width: 100%;
    height: 60px;
    z-index: 1;
    color: #FFFFFF;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    height: 100%;
    margin: 0;
    font-size: 1.25em;
}

li {
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-links:focus {
    border-bottom: 5px solid #EFE375;
    outline: hidden;
}

.nav-links:hover {
    color: #EFE375;
    cursor: pointer;
    text-shadow: 2px 3px 8px #000000;
}

.selected {
    color: #EFE375;
    text-shadow: 2px 3px 8px #000000;
}

main {
    font-family: 'AbeeZee', Georgia, 'Times New Roman', Times, serif;
}

/*****Intro Headline Banner on Home Page*****/
.home {
    background-image: url('../images/background-lights.jpg');
    background-repeat: repeat; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5745A3;
    position: relative;
}

.intro {
    height: 170px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-shadow:1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.intro > h1 {
    font-family: 'Delius', 'Arial', 'sans-serif';
    color: white;
    font-size: 2.9em;
    margin: 0;
    text-align: center;
    animation: fadeInAnimation 4s ease;
}

.intro > h2 {
    font-family: 'Bitter', 'Times New Romans', 'serif';
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
    animation: fadeInAnimation 7s ease;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/***Glow Light Animation on Home Page***/
.glow-light1,
.glow-light2,
.glow-light3,
.glow-light4,
.glow-light5,
.glow-light6,
.glow-light7,
.glow-light8,
.glow-light9,
.glow-light10,
.glow-light11,
.glow-light12,
.glow-light13  {
    background-color: #F1E040;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #F1E040;
    position: absolute;
}

.glow-light1 {
    animation: glowFloatRight 6s ease-in-out infinite;
    top: 120px;
    left: 40px;
}

.glow-light2 {
    animation: glowFloatLeft 5s ease-in-out infinite;
    top: 140px;
    left: 35%;
}

.glow-light3 {
    animation: glowFloatRight 7s ease-in-out infinite;
    top: 140px;
    right: 35%;
}

.glow-light4 {
    animation: glowFloatLeft 6s ease-in-out infinite;
    top: 110px;
    right: 60px;
}

.glow-light5 {
    animation: glowFloatRight 7s ease-in-out infinite;
    left: 60px;
}

.glow-light6 {
    animation: glowFloat 5s ease-in-out infinite;
    left: 30%;
}

.glow-light7 {
    animation: glowFloat 6s ease-in-out infinite;
}

.glow-light8 {
    animation: glowFloat 7s ease-in-out infinite;
    right: 30%;
}

.glow-light9 {
    animation: glowFloatLeft 7s ease-in-out infinite;
    right: 60px;
}

.glow-light10 {
    animation: glowFloatLeft 7s ease-in-out infinite;
    bottom: 100px;
    left: 60px;
}

.glow-light11 {
    animation: glowFloat 6s ease-in-out infinite;
    bottom: 180px;
    left: 35%;
}

.glow-light12 {
    animation: glowFloatLeft 6s ease-in-out infinite;
    bottom: 170px;
    right: 35%;
}

.glow-light13 {
    animation: glowFloatLeft 5s ease-in-out infinite;
    bottom: 130px;
    right: 60px;
}

@keyframes glowFloat {
	from {
        opacity: 0;
        transform: translateY(0px);
    }
    25% {
        background-color: #E9DE80;
        box-shadow: 0 0 10px 10px #E9DE80;
        opacity: 0.5;
	}
	50% {
        background-color: #F1E040;
        box-shadow: 0 0 10px 10px #F1E040;
        opacity: 1;
        transform: translateY(20px);
    }
    75% {
        background-color: #E9DE80;
        box-shadow: 0 0 10px 10px #E9DE80;
        opacity: 0.5;
	}
	to {
        opacity: 0;
        transform: translateY(0px);
	}
}

@keyframes glowFloatLeft {
	from {
        opacity: 0;
        transform: translate(10px, 0px);
    }
    25% {
        background-color: #E9DE80;
        box-shadow: 0 0 10px 10px #E9DE80;
        opacity: 0.5;
	}
	50% {
        background-color: #F1E040;
        box-shadow: 0 0 10px 10px #F1E040;
        opacity: 1;
        transform: translate(20px, -40px);
    }
    75% {
        background-color: #E9DE80;
        box-shadow: 0 0 10px 10px #E9DE80;
        opacity: 0.5;
	}
	to {
        opacity: 0;
        transform: translate(10px, 0px);
	}
}

@keyframes glowFloatRight {
	from {
        opacity: 0;
        transform: translate(10px, 0px);
    }
    25% {
        background-color: #E9DE80;
        box-shadow: 0 0 10px 10px #E9DE80;
        opacity: 0.5;
	}
	50% {
        background-color: #F1E040;
        box-shadow: 0 0 10px 10px #F1E040;
        opacity: 1;
        transform: translate(20px, 40px);
    }
    75% {
        background-color: #E9DE80;
        box-shadow: 0 0 10px 10px #E9DE80;
        opacity: 0.5;
	}
	to {
        opacity: 0;
        transform: translate(10px, 0px);
	}
}

/***About Me Content********/

.about-info {
    width: 280px;
    margin: 100px auto 0;
    font-size: 1em;
    line-height: 1.15em;
    padding-bottom: 40px;
}

.about-info > h1 {
    font-size: 2.3em;
    font-weight: 400;
    text-align: center;
    font-family: 'Bitter', Arial, Helvetica, sans-serif;
}

/***Portfolio Content*****/
.portfolio-info {
    width: 280px;
    line-height: 1.18em;
    margin: 100px auto 0;
    padding-bottom: 40px;
}

.portfolio-title {
    font-size: 2.3em;
    font-weight: 400;
    text-align: center;
    font-family: 'Bitter', Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    border-bottom: 3px solid #5745A3;
}

.project,
.project-tallyit, 
.project-journal  {
    margin-bottom: 50px;
}

.portfolio-image-tallyit {
    text-align: center;
}

.project-image-tallyit {
    width: 90%;
    border-radius: 5px;
    max-height: 545px;
}

.portfolio-images {
    display: flex;
    justify-content: center;
}

.portfolio-images-hike {
    display: flex;
    justify-content: space-around;
}

.project-image-tallyit,
.project-image-hike,
.project-mobile-journal,
.project-image {
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

.project-image-hike {
    width: 43%;
    border-radius: 5px;
}

.portfolio-image-journal {
    width: 100%;
    height: 442px;
    border-radius: 5px;
}

.project-journal > h2 {
    margin-top: 30px;
}

.project-mobile-journal {
    border-radius: 5px;
    width: 100%;
}

.project-image {
    width: 90%;
    border-radius: 5px;
}

.portfolio-info > h2 {
    text-align: center;
    font-size: 1.5em;
}

.technology {
    color: white;
}

.fa-react, 
.fa-node-js, 
.fa-html5, 
.fa-css3, 
.fa-js,
.fa-database {
    color: white;
    font-size: 1.5em;
}

strong {
    color: black;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow: hidden;
}

.buttons {
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.buttons > a {
    color: #5745A3;
    font-family: 'AbeeZee', Georgia, serif;
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;
    border: 2px solid #5745A3;
    border-radius: 5px;
    background-color: #AAB2ED;
    height: 40px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons > a:hover {
    background-color: #5745A3;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.buttons > a:focus {
    background-color: #5745A3;
    border: 2px solid white;
    color: white;
    transition: 0.3s;
}

/*****Contact Information****/

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 280px;
}

.contact-info > h1 {
    color: #5745A3;
    font-size: 2.5em;
    text-align: center;
}

.contact-info > p {
    font-size: 2em;
    color: white;
    text-align: center;
    margin-top: 0;
}

.contact-icons {
    display: flex;
    justify-content: space-evenly;
}

.contact-icons > a {
    color: #5745A3;
    font-size: 2.5em;
    text-decoration: none;
    cursor: pointer;
}

.contact-icons > a:hover {
    color: #EFE375;
    transition: 0.3s;
}

.contact-icons > a:focus {
    color: #EFE375;
    transition: 0.3s;
}

/****Footer*****/

footer {
    background-color: #5745A3;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

#copyright {
    color: #FFFFFF;
    font-family: 'AbeeZee', Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    margin: 0;
    text-align: center;
}

/**Media Queries***/

@media screen and (min-width: 475px) {

    .home-icon {
        width: 45px;
    }

    li {
        font-size: 1.5em;
    }

    .about-info {
        font-size: 1.3em;
        line-height: 1.4em; 
        width: 80%;
        margin-top: 100px;
    }

    .portfolio-images {
        height: 680px;
    }

    .portfolio-title {
        font-size: 2.5em;
    }

    .portfolio-info {
        font-size: 1.3em;
        margin-bottom: 60px;
        width: 530px;
        line-height: 1.4em;
    }

    .portfolio-images-journal {
        width: 60%;
        height: 502px;
        margin: 0 auto;
    }

    .buttons > a {
        height: 60px;
        width: 124px;
    }

    .contact-info {
        bottom: 90px;
        line-height: 3.2em;
        width: 530px;
        min-height: 80vh;
    }

    .contact-info > h1 {
        font-size: 3em;
    }
    
    .contact-info > h2 {
        font-size: 2.3em;
    }

    .contact-icons > a {
        font-size: 3em;
    }

}

@media screen and (min-height: 520px) {

    .portfolio-images {
        margin-bottom: 50px;
    }

    .project-image-tallyit {
        width: 260px;
    }

    .project,
    .project-tallyit, 
    .project-journal  {
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 672px) {

    .about-info {
        margin-top: 100px;
        width: 490px;
    }

    .intro {
        height: 200px;
        width: 400px;
    }

    .intro > h1 {
        font-size: 4.3em;
    }
    
    .intro > h2 {
        font-size: 2.3em;
    }

    .portfolio-info {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 790px) {

    .about-info {
        font-size: 1.2em;
        line-height: 1.5em;
        width: 510px;
    }

    .portfolio-images {
        height: 650px;
        width: 500px;
    }

    .project-mobile-journal {
        max-width: 318px;
    }

    .portfolio-title {
        font-size: 3em;
    }

    .portfolio-info {
        font-size: 1.3em;
        width: 700px;
    }

    .buttons > a {
        height: 60px;
        width: 144px;
    }

    .contact-info {
        width: 700px;
    }

}

@media screen and (min-width: 912px) {

    .buttons {
        width: 340px;
    }

    .intro {
        height: 230px;
        width: 480px;
    }

    .intro > h1 {
        font-size: 4.9em;
    }
    
    .intro > h2 {
        font-size: 2.6em;
    }

    .project {
        height: 550px;
        width: 800px;
    }

    .project-tallyit {
        height: 650px;
    }

    .portfolio-image-tallyit {
        float: right;
        margin-left: 20px;
    }

    .project-image-tallyit {
        max-height: 648px;
        width: 320px;
    }

    .project-journal {
        height: 610px;
        width: 890px;
        margin: 0 auto 20px;
    }

    .portfolio-image-journal {
        float: left;
        width: 319px;
        height: 502px;
        margin: 0 40px 0 0;
        overflow-y: hidden;
        box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    }

    .project-journal > .project-description {
        margin-right: 40px;
    }

    .project-hike {
        height: 600px;
    }

    .project-hike > .buttons {
        margin-left: 0;
        margin-right: auto;
    }

    .portfolio-images-hike {
        float: right;
        height: 470px;
        width: 460px;
    }

    .project-image-hike {
        height: 470px;
        width: 215px;
    }

    .portfolio-images {
        height: 600px;
        width: 450px;
        float: left;
        margin-bottom: 50px;
    }

    .portfolio-info {
        font-size: 1.3em;
        width: 800px;
    }
}

@media screen and (min-width: 1530px) {

    .home-icon {
        width: 50px;
    }

    li {
        font-size: 2em;
    }

    .portfolio-images-hike {
        width: 530px;
    }

    .project-image-hike {
        height: 490px;
        width: 240px;
    }

    .project {
        height: 600px;
        width: 900px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .project:last-child {
        margin-bottom: 90px;
    }

    .portfolio-images {
        height: 650px;
        width: 500px;
    }

    .portfolio-info {
        width: 1000px;
    }

    .contact-info {
        width: 800px;
    }

}

@media screen and (min-width: 1600px) {

    .about-info {
        font-size: 1.3em;
        width: 700px;
    }
}