*  {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5 em;
    margin: 0;
}

nav {
    background-color: lightgray;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    height: 100%;
    margin: 0;
}

.home-icon {
    width: 30px;
}

li {
    list-style: none;
}

main {
    position: relative;
    top: 80px;
}

header {
    background-image: url('../images/wireframe-image.jpg');
    background-repeat: no-repeat; 
    background-position-x: center;
    background-position-y: center;
    height: 470px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(83, 82, 82);
    font-size: 3em;
    margin: 0;
    text-align: center;
}

div {
    height: 480px;
    padding: 10px 20px;
}

div > p {
    font-size: 0.9em;
}

h2 {
    text-align: center;
    font-size: 0.89em;
}

.about-info {
    line-height: 1.15em;
}

/***Portfolio Content*****/
.portfolio-info {
    background-color: rgb(143, 146, 150);
    height: 640px;
    line-height: 1.15em;
}

.portfolio-title {
    font-size: 1.5em;
}

.portfolio-images {
    display: flex;
    justify-content: space-around;
    height: 140px;
}

.project-image {
    width: 45%;
}

/*****Contact Information****/

.contact-info {
    position: relative;
    bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 75px;
}

.contact-info > h2 {
    font-size: 2.2em;
}

.contact-info > p {
    text-align: center;
    line-height: 1.5em;
    font-size: 1.5em;
}

/****Footer*****/

footer {
    background-color: lightgray;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column; 
}

.footer-icons {
    height: 45px;
    width: 100%;
    padding: 9px 0;
    display: flex;
    justify-content: space-evenly;
}

.icon {
    width: 25px;
}

.copyright {
    font-size: 0.75em;
    margin: 0;
    text-align: center;
}

@media screen and (min-width: 475px){

    nav {
        height: 100px;
    }

    .home-icon {
        width: 45px;
    }

    li {
        font-size: 1.5em;
    }

    main {
        top: 100px;
    }

    header {
       height: 460px;
    }

    .about-info {
        font-size: 1.5em;
        padding-left: 60px;
        padding-right: 60px;
        line-height: 1.4em;
        height: 590px;
    }

    .portfolio-images {
        height: 220px;
    }

    .portfolio-title {
        font-size: 2em;
    }

    .portfolio-info {
        font-size: 1.5em;
        height: 815px;
        padding-left: 40px;
        padding-right: 40px;
        line-height: 1.4em;
    }

    .contact-info {
        bottom: 90px;
        margin: 90px 45px 0;
        line-height: 3.2em;
        height: 450px;
    }

    .footer-icons {
        margin-top: 15px;
    }

    .copyright {
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 790px) {
    nav {
        height: 100px;
    }

    .home-icon {
        width: 50px;
    }

    li {
        font-size: 1.5em;
    }


    header {
       height: 400px;
    }

    .about-info {
        font-size: 1.75em;
        padding-left: 150px;
        padding-right: 150px;
        line-height: 1.5em;
        height: 800px;
    }

    .portfolio-images {
        height: 290px;
    }

    .portfolio-title {
        font-size: 2em;
    }

    .portfolio-info {
        font-size: 1.75em;
        height: 1020px;
        padding-left: 120px;
        padding-right: 120px;
    }

    .contact-info {
        bottom: 90px;
        margin: 90px 60px 0;
        font-size: 1.75em;
        height: 380px;
    }

    .footer-icons {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .copyright {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1530px) {

    .home-icon {
        width: 50px;
    }

    li {
        font-size: 1.5em;
    }


    header {
       height: 540px;
    }

    .about-info {
        font-size: 1.75em;
        padding-left: 200px;
        padding-right: 200px;
        line-height: 1.5em;
        height: 600px;
    }

    .portfolio-images {
        height: 390px;
    }

    .portfolio-title {
        font-size: 2em;
    }

    .portfolio-info {
        font-size: 1.75em;
        height: 1020px;
        padding-left: 120px;
        padding-right: 120px;
    }

    .contact-info {
        bottom: 90px;
        margin: 90px 120px 0;
        font-size: 1.75em;
        height: 532px;
    }

    .footer-icons {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .copyright {
        margin-bottom: 10px;
    }
}